
<nb-layout>
  <nb-layout-header >ACMP</nb-layout-header>
  <nb-layout-column ></nb-layout-column>
  <nb-layout-column >
    <nb-card>
      <nb-card-body class="example-items-col">
        <input class='login-but' type="text" nbInput fullWidth shape="rectangle" placeholder="Rectangle">
        <input class='login-but' type="password" nbInput fullWidth shape="rectangle" placeholder="Rectangle">
        <nb-checkbox   (checkedChange)="toggle($event)" class='login-but'>Remember</nb-checkbox>
        <button class='login-but' nbButton fullWidth status="primary" (click)="login()" style="text-align: right">Log in</button>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
  <nb-layout-column ></nb-layout-column>
</nb-layout>
