<div class="card-row">
  <div class="card-col">
    <div class="card-row">
    <button nbButton status="primary" (click)="add_user()">add User</button>
    </div>
    <div class="card-row">
    <button nbButton status="primary" (click)="login()">Login</button>
    </div>
    <div class="card-row">
      <button nbButton status="primary" (click)="add_contact()">add contact</button>
    </div>
    <div class="card-row">
      <button nbButton status="primary" (click)="get_contact()">get contact</button>
    </div>
    <div class="card-row">
      <button nbButton status="primary" (click)="add_person()">add rperson</button>
    </div>
    <div class="card-row">
      <button nbButton status="primary" (click)="get_person()">get rperson</button>
    </div>
    <div class="card-row">
      <button nbButton status="primary" (click)="add_m_types()">add m_types</button>
    </div>
    <div class="card-row">
      <button nbButton status="primary" (click)="get_m_types()">get m_types</button>
    </div>
    <div class="card-row">
      <button nbButton status="primary" (click)="add_m_collection()">add m_collection</button>
    </div>
    <div class="card-row">
      <button nbButton status="primary" (click)="get_m_collection()">get m_collection</button>
    </div>
    <div class="card-row">
      <button nbButton status="primary" (click)="add_monitor()">add monitor</button>
    </div>
    <div class="card-row">
      <button nbButton status="primary" (click)="get_monitor()">get monitor</button>
    </div>
    <div class="card-row">
      <button nbButton status="primary" (click)="add_m_object()">add monitoring obj</button>
    </div>
    <div class="card-row">
      <button nbButton status="primary" (click)="get_m_object()">get monitoring obj</button>
    </div>
    <div class="card-row">
      <button nbButton status="primary" (click)="add_r_script()">add r script</button>
    </div>
    <div class="card-row">
      <button nbButton status="primary" (click)="get_r_script()">get r script</button>
    </div>
    <div class="card-row">
      <button nbButton status="primary" (click)="add_reaction()">add reaction</button>
    </div>
    <div class="card-row">
      <button nbButton status="primary" (click)="get_reaction()">get reaction</button>
    </div>
    <div class="card-row">
      <button nbButton status="primary" (click)="add_project()">add project</button>
    </div>
    <div class="card-row">
      <button nbButton status="primary" (click)="get_project()">get project</button>
    </div>
  </div>
  <div class="card-col">
    {{responce}}
  </div>
</div>
